@media (max-width : 1200px)
{

    /*******************************************************************************************************************
    ** Section Menu
    *******************************************************************************************************************/
    .Menu .Social
    {
        position : static;
    }

    /*******************************************************************************************************************
    ** Section CV
    *******************************************************************************************************************/
    .Section-CV
    {
        width : 100%;
    }

    /*******************************************************************************************************************
    ** Section Title
    *******************************************************************************************************************/
    .Section-Services
    {
        width : 100%;
    }

    .Portfolio
    {
        width : 100%;
    }

    .Portfolio-Item-Box
    {
        width : 50%;
    }

    /*******************************************************************************************************************
   ** Section Skills
   *******************************************************************************************************************/
    .Section-Skills, .Section-Connect
    {
        width : 100%;
    }

}

@media (max-width : 600px)
{
    /*******************************************************************************************************************
    ** Section Title
    *******************************************************************************************************************/
    .Section-Title .Name
    {
        font-size      : 36px;
        letter-spacing : 8px;
    }

    /*******************************************************************************************************************
    ** Section Title
    *******************************************************************************************************************/
    .Section-About .Portrait
    {
        width    : 100%;
        height   : 320px;
        position : relative;
    }

    .Section-About .Info
    {
        width : 100%;
    }

    /*******************************************************************************************************************
    ** Section Title
    *******************************************************************************************************************/
    .Section-Services
    {
        padding : 0 20px;
    }

    .Section-Services .Service
    {
        width   : 100%;
        padding : 40px 0;
    }

    .Section-Services .Service.Middle
    {
        border-top    : #ebebeb solid 1px;
        border-bottom : #ebebeb solid 1px;
        border-right  : 0;
        border-left   : 0;
    }

    /*******************************************************************************************************************
    ** Section Headers
    *******************************************************************************************************************/
    header h2
    {
        font-size : 2em;
    }

    /*******************************************************************************************************************
    ** Section CV
    *******************************************************************************************************************/
    .Section-CV
    {
        padding : 0px 0px;
    }

    .Section-CV:before
    {
        display : none;
    }

    .Section-CV .CV .Number
    {
        display : none;
    }

    .Section-CV .CVInfo
    {
        width : 100%;
    }

    .Section-CV .CV:last-of-type .CVInfo
    {
        border-bottom : none;
    }

    /*******************************************************************************************************************
    ** Portfolio
    *******************************************************************************************************************/
    .Portfolio-Item-Box
    {
        width : 100%;
    }

    .Portfolio-Item
    {
        height : 200px;
    }

    .Portfolio-Link, .Portfolio-Lightbox
    {
        top : 50px;
    }

    /*******************************************************************************************************************
    ** Section Skills
    *******************************************************************************************************************/
    .Skill
    {
        width   : 50%;
        padding : 40px;
    }

    .Skill.Last-Row:nth-last-of-type(3), .Skill.Last-Row:nth-last-of-type(4)
    {
        border-bottom : 1px solid #ebebeb;
    }

    .Skill:nth-of-type(2n+1)
    {
        border-left : none;
    }

    .Section-Connect .Form, .Section-Connect .Map
    {
        width : 100%;
    }

    .Section-Connect .Form
    {
        margin-bottom : 130px;
    }
}
